<section class="p-3">
  <div class="container">
    <div class="row">
      <div class="card m-auto">
      <div class="card-title ">
        <div class="row text-white align-items-center" style="background-color: darkblue" >
          <div class="col-md-5">
            <img src="../../assets/images/Mphasis_Login.png" width="250px" height="80px" class="text-white bg-primary" alt="">
          </div>
          <div class="col-md-5">
            <h4>Employee Outreach</h4>
          </div>
          <div class="col-md-1">
            <img src="../../assets/images/close.png"  size="30px" height="40px" alt="">
          </div>
        </div>
        </div>
        <div class="card-header m-auto">
          <div class="d-flex" style="background-color: lightgray">
            <div class="col-md-2">
              <img src="../../assets/images/login-user.png"  width="100px" height="100px" alt="">
            </div>
            <div class="col-md-10">
              <h2 class="text-center">Himabindhu Nandimandalam</h2>
              <h2 style="color: #c82333">Date: 5/19/2020</h2>
            </div>
          </div>
        </div>
        <div class="card-body  text-center">
          <div style="width: 600px">
             <p style="color: red"> Mphasis require all employees to disclose if they have tested positive for covid-19 or have been contacted with someone who are affected</p>
          </div>
        </div>
         <div class="col-md-12">
           <div class="row">
           <div class="col-md-6 text-center">
             <img src="../../assets/images/wfh.png" width="100px" height="100px" alt="">
             <p class="pt-2 text-primary">WFH Guideline</p>
           </div>
           <div class="pl-5 col-md-6 text-center">
             <img src="../../assets/images/attendant-list.png" width="100px" height="100px" alt="">
             <p class="pt-2 text-primary" style="cursor: pointer" routerLink="/attendence-tracker">Attendance Tracker</p>
           </div>
           </div>
         </div>
           <div class="col-md-12">
             <div class="row">
             <div class="col-md-6 text-center">
                <img src="../../assets/images/soundhorn.png" width="100px" height="100px" alt="">
                <p class="pt-2 text-primary">Employee Outreach</p>
            </div>
              <div class="pl-5 col-md-6 text-center">
                  <img src="../../assets/images/Delivery-pulse.png" width="100px" height="100px" alt="">
                  <p class="pt-2 text-primary">Delivery Pulse-Check</p>
              </div>
             </div>
          </div>
        <div class="text-center">
          <img src="../../assets/images/globe.png"  width="100px" height="100px" alt="">
          <p class="text-primary pt-2"> Mphasis Crisis Communication</p>
        </div>
        <div class="card-footer bg-primary text-white">
          <p>&copy; Mphasis 2020- The Next Applied</p>
        </div>
       </div>

    </div>
    </div>
</section>
